@tailwind base;
@tailwind components;
@tailwind utilities;

.plusround {
  height: 2.25rem;
  background: #ebf2fd;
  width: 2.25rem;
  display: inline-block;
  border-radius: 50%;
  line-height: 1.9rem;
  margin: 0 0.3125rem;
  text-align: center;
  text-decoration: none;
  color: #5489ea !important;
  cursor: pointer;
}


.text-gray-700 ul {
  list-style-type: disc;
  margin-left: 1.5rem; /* Add indentation for bullets */
}

.text-gray-700 ol {
  list-style-type: decimal;
  margin-left: 1.5rem; /* Add indentation for numbers */
}

.text-gray-700 li {
  margin-bottom: 0.5rem; /* Add spacing between list items */
}

